.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300;400&display=swap');
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.acenter {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mitr {
  font-family: 'kanit', sans-serif;
}

.mitrlight {
  font-family: 'kanit', sans-serif;
  font-weight: 300;
}

.tdc-space-hero {
  height: 300px;

  background-color: #00ffa6;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23001f0f' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%2300ffa6' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%2300f0ad' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%2300e1b2' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%2300d2b5' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%2300c3b7' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%2300b3b6' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%2300a3b4' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%230094ae' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%230084a7' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%2300759e' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23006692' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23005785' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23004976' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23003b66' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23002e56' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23002145' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23001534' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23010324' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.feature-text {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer-logo {
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'mitr', sans-serif;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 24px;
  padding-bottom: 0.5em;
  margin-top: 1em;
  font-weight: bold;
}
h3 {
  font-size: 22px;
}
p {
  margin-bottom: 1em;
}
blockquote {
  font-family: 'mitr', sans-serif;
  padding-left: 2em;
  background-color: whitesmoke;
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
}
h1.feature-text,
h2.feature-text,
h3.feature-text,
h4.feature-text,
h5.feature-text,
h6.feature-text {
  font-size: inherit;
  font-family: inherit;
  margin-top: inherit;
  padding-bottom: inherit;
}
